@media screen and (max-width:1080px){
    .produto{
        max-width: 250px;
    }
}

@media screen and (max-width:770px) {
    #descriçao p{
        text-align: center;
    }
    #descriçao h1{
        text-align: center;
    }
    #contato{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:600px) {
    header{
        justify-content: center;
        padding: 0px;
    }
    #descriçao {
        padding: 2em;
        justify-content: center;
    }
   #logo{
        margin-bottom: 80px;
    }
    #descriçao p{
        text-align: center;
    }
    #descriçao h1{
        font-size: 3em;
        text-align: center;
    }
    #produtos {
        padding: 0.5em;
        flex-direction: row;
        gap: 0px;
    }
    .produto{
        max-width: 195px;

    }
    .produto:hover{
        transform: none;
    }
    #contato{
        flex-direction: column;
        align-items: center;
    }
    footer{
        font-size: 0.8em;
    }
}
